body{
  background-color: rgb(224, 224, 224);
}

.col-3{
  max-width: 24% ;
}

.nav{
  height:67px
}

.container-fluid{
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
}

.product-card{
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 0px;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.4)
}
