body{
  background-color: rgb(255, 255, 255);

}

.navbar{
  height:80px;
  background-color: rgb(138,43,226);
  box-shadow: 0px 11px 35px 2px rgba(0,0,0,0.14);
  color: white;
}
.home-button{
  cursor: pointer;
}
.col-3{
  max-width: 24% ;
}

.container-fluid{
  padding-top: 2rem;
}

.product-detail-image{
  flex-direction: column;
  flex-wrap: wrap;
}

.card-img-top {
  height: 250px;
  object-fit: contain;
}

.card {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.card:hover{
  border: solid 2px rgba(0, 0, 0, 0.31)
}
.card-detail {
  padding-left: 15%;
}
.card-detail-image {
  height: 400px;
  width: 460px;
  object-fit: contain;
}
.product-detail{
  background-color: white;
  padding-left: 4%;
  padding-right: 4%;
}
.backButton{
  cursor: pointer;
  font-size: 1.2rem;
  display:flex
}

.cart-item-number{
  font-size: 1.1rem;
}
.cart{
  cursor: pointer;
  font-size: 1.75rem;
  display: flex;
  height: 100%;
  width: 120px;
  position: absolute;
  right:0;
  align-items: center;
  flex-wrap: wrap;
}

.cart-item{
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}
.total-price{
  display: flex;
  float: left;

  right: 10%;
}
.cart-item-detail{
  margin-left: 1.5rem;
}

.carousel-pic {
  object-fit: cover;
  width: 63vw;
  height: 50vh;
}

/**    Iphone6/7/8 landscape    */
@media screen and (max-width: 750px) {
  .card-body {
    flex-direction: column;
  }
  .card-detail-image {
    height: 300px;
    width: 125vmin;
  }
  .card-detail {
    padding: 0;
    margin-bottom: 30px;
  }
  .detail-long {
    padding: 0;
  }
}



/**    Iphone6/7/8 portrait    */
@media screen and (max-width: 450px) {
  .card-body {
    flex-direction: column;
  }
  .card-detail-image {
    height: 300px;
    width: 65vmin;
  }
  .card-detail {
    padding: 0;
    margin-bottom: 30px;
  }
  .detail-long {
    padding: 0;
  }
  .cart-item {
    flex-direction: column;
    text-align: center;
  }
  .cart-item-detail {
    margin: 0
  }
}
